.linkItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: aquamarine;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 40px;
    cursor: pointer;
    margin-top: 20px;
}
.linkItem:hover{
    color: aqua;
    transform: scale(1.2);
}